
/*videos*/
/*tablet version*/
/*index*/
@media screen and (min-width: 420px) {
	#Info h2
	{
		font-size: 24px;
	}

	#Info h3
	{
		font-size: 20px;
		color: red;
	}

	#Info p
	{
		font-size: 18px;

	}
	.flavours h2
	{
		font-size: 24px;
	}

	.flavours p
	{
		font-size: 18px;
	}

	/*about*/

	#aboutText h2
	{
		font-size: 26px;
	}

	#aboutText h3
	{
		font-size: 22px;
	}

	#aboutText p
	{
		font-size: 20px;
	}
	.nav11{
		margin-top: -20px;
	}
}
@media screen and (min-width: 720px) {

	#Info h2
	{
		font-size: 34px;
		margin-left: 60px;
	}

	#Info h3
	{
		font-size: 22px;
		margin-left: 60px;
	}

	#Info p
	{
		width: 80%;
	}


	#MainImage
	{
		background-image: url(../images/mainImagetab.jpg);
	}

	.beer
	{
		display: flex;
		justify-content: flex-start;
	}

	.flavours
		{
			display: inline-block;
			flex-direction: column;
			align-content:center;
			margin-right: 10px;
			width: 700px;
			text-align: left;
		}



		.flavours h2
		{
			font-size: 24px;
			margin: 0;

		}

		.flavours img
		{
			margin-left: 20px;
			margin-bottom: 10px;
		}

		.flavours h2
		{
			text-align: center;
			margin-top: 10px;

		}
		.flavours p
		{
			font-size: 14px;
			line-height: 25px;
		}

		.flavours a
		{
			font-size: 14px;
		}
		.sep-line {
		display: none;
		}
		.logoFooter {
			margin: 0 auto;
			height: 300px;
			width: 300px;
			margin-bottom: -130px;
		}

		/*about */
		.MainVideo{
			height: 400px;
			width: 700px;
		}
		#aboutText
		{
			margin: 0 auto;
		}

		#aboutText h2
		{
			font-size: 24px;

		}

		#aboutText h3
		{
			font-size: 50px;
		}

		#aboutText p
		{
			font-size: 18px;

		}
		.headerText {
			font-size: 34px;
		}
		.imageContainer
		{
			width:700px;
			height: 700px;
		}

		.teamImages
		{
			padding-top: 30px;
		}
		#team-name
		{
			font-size: 30px;
			margin-left: 100px;
			}

		.team-info
		{
			word-spacing: 2.5px;

			font-size: 20px;
			line-height:25px;

		}
		/*recipies*/
		#reciImage
		{
			background-image: url(../images/recipies_mainImagetab.jpg);
			background-repeat: no-repeat;
			background-position: center;
			height: 400px;
			width: 800px;

		}
		.nav11{
			margin-top: 650px;
		}
}

/* pc */
/* index */
@media screen and (min-width: 1200px) {

	#header
	{
		display: flex;
	}

	#button
	{
		display: none;
	}

	#navlinks
	{
		display: flex;
		flex-direction: column;
	}

	#MainNav
	{
		margin: auto;
	}

	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}

	.logo
	{
		order: -1;
		flex: 1 1 200px;
		margin-left: 10px;
	}

	#MainNav
	{
		margin-left: auto;
	}

	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}

	#MainNav input[type=text]
	{
		max-width: 40%;
	}

	#MainNav li
	{
		border-bottom: none;
		display: inline;
		margin-left: 20px;
	}

	#MainNav li a
	{
		display: inline;
		padding: 5px 0 5px 0;
		color: #1b2a49;
		font-size: 20px;
		margin-left: 20px;
	}

	#MainNav li a:hover
	{
		color: #1b2a49;

		padding: 5px;
		border-bottom: 1px solid red;
		border-radius: 5px;
		font-weight: bold;

	}

	#MainNav ul li:first-child
	{
		border-bottom: none;
	}

	#searchForm
	{
		justify-content: flex-end;
	}
	#MainImage
	{
		background-image: url(../images/mainImagePc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 500px;
		width: 100%;
		padding-top: 70px;
		margin-bottom: 0px;
		margin-top: -10px;

	}
	.flavours {
		width: 1000px;
	}
	#Info
	{

		height: 200px;
	}

	#Info h2
	{
		color: white;
		font-size: 40px;
		margin-bottom: 0px;
		margin-top: 10px;
		font-style: bold;
	}

	#Info h3
	{
		color: red;
		font-size: 28px;
		letter-spacing: .55px;
		line-height: 25px;
		font-style: italic;
	}

	#Info p
	{
		color: #fff;
		font-size: 28px;
		line-height: 30px;
		margin: auto;
	}
	.favDiv{
		display: flex;
		width: 1100px;
	}
	.logoFooter {
		margin: 0 auto;
		height: 300px;
		width: 300px;
		margin-bottom: -130px;
	}
	.beer {
		width: 1100px;
		display: inline-grid;
	}

	/*about */
	.MainVideo{
		height: 600px;
		width: 1100px;
	}
	/* 	contact */
	#contactInfo
	{

		display: inline-block;
	}
	/*recipies*/
	.mainBox {
		margin-left: 20px;
		width: 100%;
	}
	#reciImage
	{
		background-image: url(../images/recipies_mainImagepc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 450px;
		width: 1100px;

	}
	.nav11{
		margin-top: 650px;
	}

}
