@charset "UTF-8";
.hidden
{
	display: none;
}

img, embed, object, video {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

img {
  -ms-interpolation-mode: bicubic;
}

body
{
	font-family: 'Comic Neue', cursive, arial, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a
{
  color:#000;
	transition:all .1s linear 0s;
  text-decoration: none;

  font-family: 'Comfortaa', sans-serif;
}

h2, h3
{
	font-family: 'Do Hyeon', arial,sans-serif;
	color: #1b2a49;
}
.siteContainer {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1500px;
}


/*home-mobile*/
#header
{
	margin-bottom: 5px;
	margin-top:0px;
}
#MainNav
{
	display: flex;
	flex-direction: column-reverse;
}
#MainNav button
{
	background: url(../images/menu.svg) center no-repeat;
	width: 40px;
	height: 40px;
	border: 0;
	transition: all 400ms ease;
	margin-right:auto;
}

#MainNav button.expanded
{
background: url(../images/menu-close.svg) center no-repeat;

}
#MainNav li a
{
	display: block;
	padding: 10px 0 10px 0;
	color: #c48c26;
	text-align: center;
}


#MainNav input[type=text]
{
	display: block;
	width: 100%;
	height: 40px;
	padding: 0px;
	border: 1px solid #c48c26;
	border-radius: 3px 0px 3px 0px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
	color: #050505;
}
#MainNav input[type=submit]
{
	height: 40px;
	width: 100px;
	border-radius: 0 3px 3px 0;
	text-align: center;
	font-size: 14px;
	background-color: #d4b65d;
	color: #fefefe;
	border: 0;
}
#searchForm
{
	display: flex;
	flex-direction: row;
}
#navlinks
{
	margin-top: 20px;
	display: none;
}

#navlinks.slideToggle
{
	display: block;
}
.logo
{
	display: block;
	margin: 0 auto;
	max-width: 350px;
}

#MainImage
{
	background-image: url(../images/mainImage-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	padding-top: 70px;
	margin-bottom: 0px;
	margin-top: -10px;

}

#Info
{

	height: 200px;
}

#Info h2
{
	color: #c48c26;
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#Info h3
{
	color: #c48c26;
	font-size: 18px;
	letter-spacing: .35px;
	line-height: 15px;
	font-style: italic;
}

#Info p
{
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	margin: auto;
}

#italic
{
	font-style: italic;
}

.beers
{

	margin-bottom: 10px;
}


.Ourbeers
{
	background-color: #bbb9ba;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.Ourbeers:hover
{
	background-color: #c48c26;
	color:#1b2a49;
}
.flavours
{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	max-width: 500px;
	margin-bottom: 20px;
	
}
.flavours h2
{
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: -10px;
}

.flavours p
{
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 30px;
	color: black;
}

.flavours a
{
	color: #D6A867;
	padding: 5px;
	border-radius: 10px;
}

.beerImage
{
	margin: left;
	max-width: 300px;
	margin-right: 0px;
	margin-top: right;
	margin-bottom: 0;
}
.sep-line {
	border: 0.5px solid black;
}
.footNav {

	text-align: center;
	font-family: monospace;
}
.footNav a  {
	display: block;
	margin-right: 30px;
	letter-spacing: 1.0px;
	color: #c48c26;
	text-align: center;
}



/*about - mobile*/
.MainVideo
{
	height: 327px;

}

.MainVideo video
{
	border: 0.5px solid black;
	box-shadow: 5px 5px 15px grey;
}
#aboutText
{
	margin: 0 auto;
}

#aboutText h2
{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
}

#aboutText h3
{
	font-size: 16px;
	color: #D6A867;
	font-style: italic;
	letter-spacing: 0.2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#aboutText p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	padding: 10px;
	color: #4A4A4A;
}
.headerText {
	margin:auto;
	font-size: 28px;
}
.imageContainer
{
	width:500px;
	height: 500px;
	background-color:grey;
	overflow:hidden;
}

.teamImages
{
  margin: auto;
	position:relative;
	width:500px;
	padding-top: 50px;
}

.teamImages img

#Nav { margin-top:50px;

}

#teamList li {
	display:inline;

	padding:0px 100px;
	cursor:pointer;
}

#Nav a
{
	font-size:40px;
	font-family: Arial;

}
.info
{
	width:150px;
	height:50px;
	display:inline-block;
	overflow:hidden;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
	color:black;
		background-color: #eec884;
		font-size:18px;
		color: #1b2a49;


}
.Jaskaran { background-position:0px -54px; }
.Jaskaran:hover { background-position:0px 0px; }

.Superman { background-position:-50.5px -54px; }
.Superman:hover { background-position:-51px 0px; }

#team-name
{
	font-family: 'Do Hyeon', arial,sans-serif;
	font-family: Arial;
	color: black;
	font-size: 26px;
	margin-left: 100px;
	color: #1b2a49;
	}

.team-info
{
	word-spacing: 1.5px;
	padding: 10px;
	color: #4A4A4A;
	font-family: Arial;
	color: black;
	font-size: 16px;
	line-height:20px;
	position:relative;
	margin-left:50px;
font-style: italic;
}
/*contact - mobile*/
#contactForm
{

	padding: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid #1b2a49;
	box-shadow: 5px 5px 15px grey;
}

#contactForm label
{
	font-size: 20px;
	color: #1b2a49;
	margin: 10px;
	padding: 10px;
}

#contactForm input
{
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
	width: 70%;
	height: 40px;
	border: 1px solid #1b2a49;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);

}

#contactForm textarea
{
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
	width: 70%;
	height: 100px;
	border: 1px solid #1b2a49;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
	color: #050505;
}

#contactForm input[type=submit]
{
	height: 40px;
	width: 100px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	background-color: #bc8624;
	color: #fefefe;
	border: 0;
}
#contactInfo
{
	background-color: #dbd8d3;
	padding: 20px;
	margin-bottom: 20px;
	display: none;
}



#locationDetails
{
	margin: 30px 10px 10px 10px;
	border: 1px solid #1b2a49;
	border-radius: 3px;
	padding: 10px;
}

#locationDetails img
{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
}

#locationDetails p
{
	font-size: 16px;
	color: #1b2a49;
	line-height: 20px;
	margin-left: 60px;
}

#emailInfo
{
	margin: 30px 10px 10px 10px;
	border: 1px solid #1b2a49;
	border-radius: 3px;
	padding: 10px;
}

#emailInfo img
{
	width: 60px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

#emailInfo a
{
	color: blue;
	margin: 10px;
	line-height: 40px;
}
/*recipies*/
.mainBox {
	width: 100%;
}
#reciImage
{
	background-image: url(../images/recipies_mainImageMob.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 500px;

}
.view {
   width: 400px;
   height: 300px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: white url(../images/bsImage.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 400px;
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 2px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.Myview img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.Myview .mask {
   background-color: rgba(255, 231, 179, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.Myview h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.Myview p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.Myview a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.Myview:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.Myview:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.Myview:hover h2,.Myview:hover p,.Myview:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
/*videos*/
/*tablet version*/
/*index*/
@media screen and (min-width: 420px) {
	#Info h2
	{
		font-size: 24px;
	}

	#Info h3
	{
		font-size: 20px;
		color: red;
	}

	#Info p
	{
		font-size: 18px;

	}
	.flavours h2
	{
		font-size: 24px;
	}

	.flavours p
	{
		font-size: 18px;
	}

	/*about*/

	#aboutText h2
	{
		font-size: 26px;
	}

	#aboutText h3
	{
		font-size: 22px;
	}

	#aboutText p
	{
		font-size: 20px;
	}
	.nav11{
		margin-top: -20px;
	}
}
@media screen and (min-width: 720px) {

	#Info h2
	{
		font-size: 34px;
		margin-left: 60px;
	}

	#Info h3
	{
		font-size: 22px;
		margin-left: 60px;
	}

	#Info p
	{
		width: 80%;
	}


	#MainImage
	{
		background-image: url(../images/mainImagetab.jpg);
	}

	.beer
	{
		display: flex;
		justify-content: flex-start;
	}

	.flavours
		{
			display: inline-block;
			flex-direction: column;
			align-content:center;
			margin-right: 10px;
			width: 700px;
			text-align: left;
		}



		.flavours h2
		{
			font-size: 24px;
			margin: 0;

		}

		.flavours img
		{
			margin-left: 20px;
			margin-bottom: 10px;
		}

		.flavours h2
		{
			text-align: center;
			margin-top: 10px;

		}
		.flavours p
		{
			font-size: 14px;
			line-height: 25px;
		}

		.flavours a
		{
			font-size: 14px;
		}
		.sep-line {
		display: none;
		}
		.logoFooter {
			margin: 0 auto;
			height: 300px;
			width: 300px;
			margin-bottom: -130px;
		}

		/*about */
		.MainVideo{
			height: 400px;
			width: 700px;
		}
		#aboutText
		{
			margin: 0 auto;
		}

		#aboutText h2
		{
			font-size: 24px;

		}

		#aboutText h3
		{
			font-size: 50px;
		}

		#aboutText p
		{
			font-size: 18px;

		}
		.headerText {
			font-size: 34px;
		}
		.imageContainer
		{
			width:700px;
			height: 700px;
		}

		.teamImages
		{
			padding-top: 30px;
		}
		#team-name
		{
			font-size: 30px;
			margin-left: 100px;
			}

		.team-info
		{
			word-spacing: 2.5px;

			font-size: 20px;
			line-height:25px;

		}
		/*recipies*/
		#reciImage
		{
			background-image: url(../images/recipies_mainImagetab.jpg);
			background-repeat: no-repeat;
			background-position: center;
			height: 400px;
			width: 800px;

		}
		.nav11{
			margin-top: 650px;
		}
}

/* pc */
/* index */
@media screen and (min-width: 1200px) {

	#header
	{
		display: flex;
	}

	#button
	{
		display: none;
	}

	#navlinks
	{
		display: flex;
		flex-direction: column;
	}

	#MainNav
	{
		margin: auto;
	}

	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}

	.logo
	{
		order: -1;
		flex: 1 1 200px;
		margin-left: 10px;
	}

	#MainNav
	{
		margin-left: auto;
	}

	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}

	#MainNav input[type=text]
	{
		max-width: 40%;
	}

	#MainNav li
	{
		border-bottom: none;
		display: inline;
		margin-left: 20px;
	}

	#MainNav li a
	{
		display: inline;
		padding: 5px 0 5px 0;
		color: #1b2a49;
		font-size: 20px;
		margin-left: 20px;
	}

	#MainNav li a:hover
	{
		color: #1b2a49;

		padding: 5px;
		border-bottom: 1px solid red;
		border-radius: 5px;
		font-weight: bold;

	}

	#MainNav ul li:first-child
	{
		border-bottom: none;
	}

	#searchForm
	{
		justify-content: flex-end;
	}
	#MainImage
	{
		background-image: url(../images/mainImagePc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 500px;
		width: 100%;
		padding-top: 70px;
		margin-bottom: 0px;
		margin-top: -10px;

	}
	.flavours {
		width: 1000px;
	}
	#Info
	{

		height: 200px;
	}

	#Info h2
	{
		color: white;
		font-size: 40px;
		margin-bottom: 0px;
		margin-top: 10px;
		font-style: bold;
	}

	#Info h3
	{
		color: red;
		font-size: 28px;
		letter-spacing: .55px;
		line-height: 25px;
		font-style: italic;
	}

	#Info p
	{
		color: #fff;
		font-size: 28px;
		line-height: 30px;
		margin: auto;
	}
	.favDiv{
		display: flex;
		width: 1100px;
	}
	.logoFooter {
		margin: 0 auto;
		height: 300px;
		width: 300px;
		margin-bottom: -130px;
	}
	.beer {
		width: 1100px;
		display: inline-grid;
	}

	/*about */
	.MainVideo{
		height: 600px;
		width: 1100px;
	}
	/* 	contact */
	#contactInfo
	{

		display: inline-block;
	}
	/*recipies*/
	.mainBox {
		margin-left: 20px;
		width: 100%;
	}
	#reciImage
	{
		background-image: url(../images/recipies_mainImagepc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 450px;
		width: 1100px;

	}
	.nav11{
		margin-top: 650px;
	}

}
